.price-page {
  .features-row {
    padding-top: 100px;
    padding-bottom: 110px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1592px;
    width: 100%;
    margin: 0 auto;
    gap: 180px;
    align-items: center;

    @media (max-width: 1700px) {
      gap: 120px;
    }

    @media (max-width: 1400px) {
      gap: 80px;
    }

    .features-text {
      padding-left: 50px;

      @media (max-width: 1700px) {
        padding-left: 0;
      }

      .bg-color{
        background-color: transparent;
      }

      .hero {
        padding: 0;
        text-align: left;

        h1 {
          max-width: none;
          text-align: left;
        }
      }

      h1 {
        @media (max-width: 1400px) {
          font-size: 40px;
        }

        @media (max-width: 1200px) {
          font-size: 35px;
          line-height: 45px;
        }

        @media (max-width: 1000px) {
          font-size: 32px;
          line-height: 40px;
        }

        @media (max-width: 800px) {
          font-size: 29px;
          line-height: 40px;
        }

        @media (max-width: 600px) {
          font-size: 26px;
          line-height: 35px;
        }
      }

      p {
        margin-bottom: 74px;
        @media (max-width: 1200px) {
          margin-bottom: 20px;
        }
      }

      a {
        @media (max-width: 1200px) {
          font-size: 20px;
        }
      }
    }

    .features-img {
      margin-right: 0px;
      height: 100%;

      img {
        display: block;
        width: 824px;

        @media (max-width: 1486px) {
          width: 100%;
        }
      }
    }
  }

  h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    /* identical to box height */
    text-align: center;
    color: #0000ff;

    @media (max-width: 800px) {
      font-size: 28px;
    }
  }

  .price-section {
    margin-top: 100px;

    .hero {
      background-color: white;
      padding: 0px 20px 0px;
      h1 {
        max-width: none;
      }
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: #848199;
      margin-top: 23px;

      @media (max-width: 800px) {
        font-size: 18px;
        margin-top: 16px;
      }
    }

    .btn-primary {
      box-shadow: 0px 5px 7px rgba(82, 67, 194, 0.230196);
      border-radius: 22px;
      display: inline-block;
      padding: 15px 40px;

      font-weight: 700;
      font-size: 10px;
      line-height: 13px;
      text-align: center;
      letter-spacing: 0.833333px;
      color: #848199;
      background-color: white;
      box-shadow: none;

      &.tab-active {
        color: #fdfeff;
        background: #0000ff;
      }
    }

    .tabs {
      background-color: white;
      border-radius: 22px;
    }

    &-top {
      text-align: center;
      .tabs {
        margin-top: 40px;
      }

      .tab-content {
        margin-top: 140px;
        padding-bottom: 100px;

        @media (max-width: 800px) {
          flex-direction: column;
          margin-top: 50px;
        }

        &-1 {
          display: flex;
          align-items: stretch;
          justify-content: center;

          @media (max-width: 800px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          .price-card {
            max-width: 300px;
            text-align: left;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            padding: 30px;
            border-radius: 26px;

            .top {
              flex-grow: 1;
              width: 100%;
            }

            h3 {
              font-weight: 700;
              font-size: 36px;
              line-height: 46px;
              color: #231d4f;
              margin-bottom: 20px;

              span {
                font-weight: 400;
                font-size: 17px;
                line-height: 22px;
                color: #848199;
              }
            }

            h2 {
              font-weight: 700;
              font-size: 28px;
              line-height: 36px;
              color: #231d4f;
              margin-bottom: 12px;
            }

            p {
              font-weight: 400;
              font-size: 15px;
              line-height: 20px;
              text-align: left;
              color: #848199;
            }

            ul {
              text-decoration: none;
              padding-left: 0px;
              list-style: none;
              margin-top: 20px;

              li {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 5px 0px;

                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
                color: #848199;

                svg {
                  margin-right: 10px;
                }
              }
            }

            .btn-tertiary {
              width: 100%;
              display: block;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 13px;

              font-weight: 700;
              font-size: 15px;
              line-height: 20px;
              text-align: center;
              color: #6a5fde !important;
              background: rgba(0, 0, 255, 0.1);
              border-radius: 24px;
              margin-top: 24px;
              transition: all 0.3s ease-in-out;

              &:hover {
                color: white !important;
                background-color: #0000ff;
              }
            }
          }

          .price-card.featured {
            background: #0000ff;
            color: white !important;
            width: 292px;
            box-shadow: 0px 42px 34px rgba(82, 67, 194, 0.295755);
            border-radius: 26px;
            transform: translateY(-50px);

            @media (max-width: 800px) {
              transform: translateY(0px);
              margin-bottom: 50px;
            }

            .featured-badge {
              padding: 6px 27px !important;
              background: #6a5fde;
              border-radius: 13.5px;

              font-weight: 700;
              font-size: 10px;
              line-height: 13px;
              text-align: center;
              letter-spacing: 0.833333px;
              color: #f3ede4;
              width: auto;
              max-width: max-content !important;
              margin-left: auto;
              margin-bottom: 5px;
            }

            h1,
            h2,
            h3,
            span,
            p,
            li {
              color: white;
            }

            .btn-tertiary {
              background: white;
              color: #0000ff !important;
            }
          }
        }
      }
    }
  }

  .price-table {
    background: #f3f5fc;
    padding-top: 105px;
    padding-bottom: 100px;

    .hero {
      background-color: transparent;
      align-items: start;
    }

    .container {
      max-width: 1360px;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      flex-wrap: wrap;

      h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        color: #0000ff;
        margin-bottom: 23px;
        text-align: left;

        @media (max-width: 800px) {
          font-size: 28px;
          margin-bottom: 0px;
        }
      }

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #848199;
        text-align: left;

        @media (max-width: 800px) {
          font-size: 18px;
          margin-top: 0px;
        }
      }
    }

    .columns {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 102px;
      gap: 42px;

      @media (max-width: 900px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 0px;
      }
    }

    .features-list {
      @media (max-width: 900px) {
        h2,
        h3 {
          display: none;
        }
      }
    }

    .list {
      padding: 50px 52px;

      @media (max-width: 1200px) {
        padding: 50px 24px;
      }

      @media (max-width: 900px) {
        padding: 50px 52px;
        max-width: 400px;
        width: 100%;
        text-align: center;

        li,
        h2,
        h3 {
          text-align: center !important;
        }
      }

      &.list-active {
        background: #ffffff;
        box-shadow: 20px 22px 24px rgba(23, 18, 63, 0.120028);

        .btn {
          background: #0000ff;
          color: white;
        }
      }

      h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        text-align: left;
        color: #5243c2;
        margin-bottom: 22px;
      }

      h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        color: #231d4f;

        span {
          font-weight: 400;
          font-size: 17px;
          line-height: 22px;
          color: #848199;
        }
      }

      ul {
        margin-top: 43px;
        list-style: none;
        padding-left: 0px;
        text-align: left;

        &.items-name {
          li {
            span {
              font-weight: 400;
              font-size: 15px;
              line-height: 20px;
              color: #848199;
              text-align: left;
            }
          }
        }

        li {
          padding: 24px 0px;
          padding-left: 20px;

          :first-of-type {
            padding-top: 0px;
          }

          span {
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;

            color: #231d4f;
          }
        }
      }

      .btn {
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: #6a5fde;
        padding: 13px 23px;
        background: rgba(0, 0, 255, 0.2);
        margin-top: 50px;
        display: block;
        width: 100%;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: white;
          background: rgba(0, 0, 255, 1);
        }
      }
    }
  }
}

// .tab-content
.tab-content {
  display: none;
}

.tab-content-list {
  display: none;
}
