.primary {
  &-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  &-card {
    display: flex;
    flex-direction: column;
    padding: 50px;

    img {
      max-width: 50px;
    }

    h4 {
      font-size: 24px;
      line-height: 31.25px;
      color: var(--color-purple);
    }

    p {
      @extend .text-primary;
      font-size: 18px;
    }
  }
}

.reference {
  &-cards {
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    .reference-card {
      max-width: 500px;
      margin-top: 50px;
    }

    @media (max-width: 1200px) {
      padding: 70px 0px;
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
      padding: 50px 0px;
    }
  }

  &-card {
    display: block;
    object-fit: contain;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 9px 10px 19px rgba(0, 0, 0, 0.25);

    img {
      width: 100%;
    }
  }
}
