.features {
  .container {
    margin-bottom: 150px;

    .heading-primary {
      text-align: center;
      margin-top: 85px;
      margin-bottom: 85px;
    }
  }

  &-row-reverse {
    flex-direction: row-reverse;
    .features-img{
      padding-left: 15px;
    }

    @media (max-width: 950px) {
      flex-direction: column;
      margin-top: 60px;
    }
  }

  &-row {
    display: flex;
    align-items: center;
    .features-img{
      padding-right: 15px;
    }

    @media (max-width: 1400px) {
      justify-content: space-between;
    }

    @media (max-width: 950px) {
      flex-direction: column;
      margin-top: 60px;
    }
  }

  &-img {
    width: 100%;
    @media (max-width: 950px) {      
      margin-bottom: 15px;      
    }

    img {
      width: 100%;

      @media (max-width: 950px) {
        max-width: 680px;
        margin: 0 auto;
        display: block;
      }
    }
  }

  &-text {
    max-width: 536px;
    width: 100%;
    flex-grow: 1;

    @media (max-width: 950px) {
      max-width: 700px;
    }

    h3 {
      @extend .heading-tertiary;
      color: var(--color-purple);

      @media (max-width: 1200px) {
        line-height: 40px;
        font-size: 30px;
      }

      @media (max-width: 950px) {
        font-size: 28px;
      }
    }

    p {
      @extend .text-primary;
      margin-top: 50px;

      @media (max-width: 1200px) {
        margin-top: 35px;
        font-size: 18px;
      }

      @media (max-width: 950px) {
        margin-top: 20px;
      }
    }
  }
}
