:root{
	

	--color-primary: #0000FF;

	--color-grey: #5C5D5D;
	--color-grey-light: #C4C4C4;
	--color-grey-light-2: #848199;

	--color-purple: #6A5FDE;
	--color-purple-2: #6A5FDE1C;
	--color-purple-3: #B1ADDE;
	
	--color-white: #FFFFFF;
	--color-white-2: #F3F3F3;
	--color-white-3: #F3EDE4;
	--color-white-4: #F3F5FC;
	--color-white-5: #FCFCFE;

	--color-black: #000000;
	--color-black-2: #212629;

	--font-dm: 'DM Sans', sans-serif;

}