:root {
  --color-primary: #0000ff;

  --color-grey: #5c5d5d;
  --color-grey-light: #c4c4c4;
  --color-grey-light-2: #848199;

  --color-purple: #6a5fde;
  --color-purple-2: #6a5fde1c;
  --color-purple-3: #b1adde;

  --color-white: #ffffff;
  --color-white-2: #f3f3f3;
  --color-white-3: #f3ede4;
  --color-white-4: #f3f5fc;
  --color-white-5: #fcfcfe;

  --color-black: #000000;
  --color-black-2: #212629;

  --font-dm: "DM Sans", sans-serif;
}